.container-articles {
	margin-top: 8rem;
}
.article-list {
	max-width: 100rem;
	margin: 1rem 2rem;
	border-radius: 1rem;
	padding: 2rem 1rem;
	background: #6c757d7d;
	margin-top: 1rem;
	&__info {
		margin-left: 2rem;
		display: flex;
		justify-content: center;
	}
	&__info > span {
		flex-basis: 14.5rem;
		text-align: center;
		margin-left: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__info > span > p {
		font-size: $font-paragraph;
	}
	&__img {
		object-fit: cover;
		min-width: 10rem;
		max-width: 25rem;
		border-radius: 1rem;
	}
}
.empty-cart {
	font-size: $font-title;
	font-weight: 500;
	margin: 5rem auto;
	margin-top: 8rem;
	text-align: center;
}

.article-list > button {
	margin: 0 auto;
	margin-top: 2rem;
	height: 3rem;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 0.5rem;
	padding: 2rem;
	display: flex;
	align-items: center;
	transition: background 0.3s;
}
.article-list > button:hover {
	background: $color-yellow;
}
.article-list > button:active {
	background: $color-yellow;
}

@media (min-width: 500px) {
	.article-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1rem 2rem;
	}
	.article-list > button {
		margin: 2rem 2rem;
	}
}

@media (min-width: 1000px) {
	.article-list {
		margin: 1rem auto;
	}
}
